node_modules
.next
.turbo
.git
.gitignore
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.vscode
.idea
README.md
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml
coverage
tsconfig.tsbuildinfo
